@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* --brand: 238 93% 44%; green */
    --brand: 9 100% 58%;
    --background: 0 9% 90%;
    --foreground: 0 9% 30%;
    /* --background: 0 0% 100%; hsla(0, 27%, 91%, 1) */

    --card: 0 9% 93%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 9% 95%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 9% 80%;
    --primary-foreground: 0 9% 20%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 9% 90%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 9% 80%;
    --input: 0 9% 80%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* --brand: 150 100% 60%; green */

    --brand: 9 100% 58%;
    /* --background: 0 0% 3.9%; */
    /* --background: 35 10% 5%;
    --foreground: 0 0% 90%; */

    --background: 0 2% 9%;
    --foreground: 0 9% 70%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 35 10% 8%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
  :focus-visible {
  @apply outline-1 outline-brand outline-offset-8 opacity-100;
  }
  p {
    @apply text-lg md:text-xl leading-relaxed text-foreground;
  }
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-medium tracking-tight;
  }
  h2 {
    @apply text-3xl md:text-3xl lg:text-4xl font-medium tracking-tight;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl font-medium tracking-tight;
  }
  h4 {
    @apply text-xl md:text-xl lg:text-2xl font-medium tracking-tight;
  }
  
}

@layer components {
  .content-padding {
    @apply py-4 px-0 md:py-4 md:px-0 lg:py-6 lg:px-0;
  }
  .project-hero-padding {
    @apply py-8 px-4 md:py-8 md:px-4 lg:py-12 lg:px-6;
  }
  .pink-gradient {
    background-color: linear-gradient(180deg, #A7B5FF 0%, #F3ACFF 100%);
  }
  .orange-gradient {
    background-color: linear-gradient(142deg, #FFD9A0 11.36%, #FFF5F1 81.66%);
  }
  .blue-gradient {
    background-color: linear-gradient(157deg, #ACAAFF 8.68%, #C0E8FF 84.91%);
  }
}

@layer {
  .section-padding {
    @apply p-8 md:p-10 lg:p-12 xl:p-16 2xl:p-20;
  }
  .section-gap {
    @apply gap-12 md:gap-10 lg:gap-12 xl:gap-16 2xl:gap-20;
  }
  .negative-padding {
    @apply w-dvw -ml-6 -mr-6 md:-mr-8 md:-ml-8 lg:-mr-12 lg:-ml-12 xl:-mr-16 xl:-ml-16 2xl:-mr-20 2xl:-ml-20;
  }
}
