@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --brand: 9 100% 58%;
    --background: 0 5% 96%; 
    --foreground: 0 5% 15%;

    --card: 0 0% 97%;
    --card-foreground: 0 0% 3%;
 
    --popover: 0 0% 85%;
    --popover-foreground: 0 0% 10%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 9% 90%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 80%;
    --ring: 0 0% 50%;
 
    --radius: 0rem;
  }
 
  .dark {
    --brand: 9 100% 58%;

    --background: 0 0% 10%;
    --foreground: 0 0% 87%;
 
    --card: 0 0% 5%;
    --card-foreground: 0 0% 90%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 35 10% 8%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-base text-foreground;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
  }
  :focus-visible {
    @apply outline-1 outline-brand outline-offset-8 opacity-100;
  }
  p {
    @apply leading-relaxed;
  }

  p:not(:last-child) {
    @apply mb-6;
  }

  strong {
    @apply font-medium;
  }
  ul {
    @apply space-y-2;
  }

  h1 {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
  }
  h2 {
    font-size: clamp(1.5rem, 1.75vw, 1.75rem);
    @apply font-medium;
  }
  h3 {
    font-size: clamp(1.17rem, 1.5vw, 1.5rem);
    @apply font-medium;
  }
  h4 {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    @apply font-semibold;
  }
  h5 {
  }

}

@layer component {
  .project-summary-text {
  }
  .project-title {
  }
  .content-padding { 
    @apply p-6 lg:p-16 gap-6 lg:gap-16;
  }
  .content-vertical-padding {
    @apply px-6 lg:px-16 gap-6 lg:gap-16;
  }
  .section-padding {
    @apply px-6 lg:px-16 gap-6 lg:gap-16 py-4 lg:py-8;
  }
  .about-image {
    @apply relative object-cover object-center filter grayscale contrast-200;
  }
}




