@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --brand: 9 100% 58%;
    --background: 0 9% 95%; 
    --foreground: 0 9% 5%;

    --card: 0 0% 97%;
    --card-foreground: 0 0% 3%;
 
    --popover: 0 0% 85%;
    --popover-foreground: 0 0% 10%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 9% 90%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 0 0% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --brand: 9 100% 58%;

    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
 
    --card: 0 0% 5%;
    --card-foreground: 0 0% 90%;
 
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 35 10% 8%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-base text-foreground pb-12;
    font-family: var(--font-inter)
  }
  :focus-visible {
    @apply outline-1 outline-brand outline-offset-8 opacity-100;
  }
  h1, h2, h3, h4, h5 {
    font-family: var(--font-safiro)
  }
  p {
    @apply leading-relaxed;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83em;
  }

}

@layer component {
  .project-summary-text {
    @apply text-3xl lg:text-5xl tracking-tighter font-medium block -ml-2;
  }
  .project-title {
    @apply text-4xl lg:text-6xl tracking-tighter font-bold block -ml-2;
  }
}




